form {
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    background-color: #fff;
    color: #2E2F42;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.feedback-form input,
textarea {
  width: 360px;
  padding: 8px 16px;
  border: 1px solid #808080;
  transition: border-color 500ms;
}

.feedback-form textarea {
  resize: none;
  height: 80px;
}
.feedback-form input:hover,
textarea:hover {
  border: 1px solid #000000;
}
.feedback-form input:focus,
textarea:focus {
  border-color: #808080;
  outline: none;
}
  button {
    width: fit-content;
    margin-top: 8px;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  } 
  .btn-blue {
    background-color: #4E75FF;
    transition: background-color 250ms ease;
    color: #fff;
  }
  .btn-blue:hover, .btn-blue:focus{
    background-color: #6C8CFF;

  }


