.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
        
    }
    .gallery-item {
        width: 360px;
        height: 200px;
    }
    .gallery-item:hover img {
    transform: scale(1.04);
    }
    .gallery-image{
        display: block;
        width: 360px;
        height: 200px;
        transform: scale(1);
        transition: transform 0.5s;
    }
    body .sl-overlay{
background-color: rgba(46, 47, 66, 0.8);
    }
    body .sl-counter{
color: #fff !important;
    }